.detailsAllUser {
  text-align: center;
}

body {
  color: var(--White);
}

.detailContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  /*  margin: 20px; */
}

/* @media {} MEDIA QUERY PARA HACER EL FLEX*/
.carousel,
.otherDetailsUser {
  background-color: var(--Primary);
  box-shadow: 5px 10px #00000081;
  border-radius: 4px;
}

.otherDetailsUser {
  height: 600px; /* DESPUÉS MODIFICAR. */
  max-width: 50vw;
  min-width: 40vw;
  margin: 20px;
}

.detailsUsers2User {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.buttonContainer {
/*   padding: 50px; */
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.button {
  cursor: pointer;
  font-size: large;
  width: 150px;
  height: 30px;
  color: var(--White);
  background-color: var(--Button);
  border: none;
  border-radius: var(--RadiusOne);
}

.description {
  display: block;
  margin: auto;
  text-align: justify;
  max-width: 600px;
  /* justify-content: center; */
}

.rightColumn {
  max-width: 250px;
}
.leftColumn {
  margin-right: 150px;
  max-width: 250px;
}

.titleCard {
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

.contRend {
  margin: 70px;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--White);
  border-radius: 10px;
  background: var(--Primary);
  box-shadow: 0px 0px 50px black;
}

.promoterRow {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  box-shadow:
  0px 15px 10px -15px var(--Black),
  0px -15px 10px -15px var(--Black);
}
.promoterName {
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 1.5rem;
  color: var(--Button);
  margin-left: 10px;
  margin-right: 30px;
}

.promoterPicture{
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
.promoter{
  display:flex;
  border: 0.5px solid var(--Black);
  border-radius: 5px;
  padding: 2px;
  color: var(--White);
  width: 640px;
  margin: auto;
  background-color: var(--Primary);
  box-shadow: 5px 10px #00000081;

}
.whats{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}