.contEvent{
    display: flex;
    margin: 5px;
    width: 90%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px var(--Black) solid;
    padding-bottom: 10px;
}
@media (max-width: 768px) { 
    .contEvent{
        display: flex;
        margin: 5px;
        width: 95%;
        justify-content: center;
        align-items: center;
        border-bottom: 1px var(--Black) solid;
        padding-bottom: 10px;
    }
}

.contName{
   width: 50%;
   font-weight: 600;
   
   /* color: white; */
}

.contQuali{
    width: 30%;
    display: flex;
    justify-content: center;
    color: var(--Secondary);
    font-size: 2vw;
}
@media (max-width: 420px) { 
    .contQuali{
        width: 20%;
        display: flex;
        justify-content: center;
        color: var(--Secondary);
        font-size: 4vw;
    }
    .contName{
        width: 50%;
        font-weight: 600;
        font-size: 4vw;
     }
     .btn{
        display: flex;
        width: 20%;
        font-size: 4vw;
        justify-content: end;
    }
}
.btn{
    display: flex;
    width: 20%;
    justify-content: end;
    color: var(--Button);
}
